In [1]:
import numpy as np
import pandas as pd

In [2]:
house_prices_trian=pd.read_csv('C:/Users/plj/Desktop/Untitled Folder/train.csv')
house_prices_trian.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [17]:
columns=house_prices_trian.columns
columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [14]:
house_prices_trian=pd.read_csv('C:/Users/plj/Desktop/Untitled Folder/train.csv',index_col=0)
house_prices_trian.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [16]:
age_data=pd.read_csv('C:/Users/plj/Desktop/Untitled Folder/age.csv',header=None)   #没有表头文件的处理
age_data.head()

    0   1   2   3   4
0   5   4  77   5   5
1  27  25  24  26  24
2  12  34  55  66  66
3  22  33  42  41  23
4  22  23  45  97  45

In [21]:
house_prices_trian=pd.read_csv('C:/Users/plj/Desktop/Untitled Folder/train.csv',index_col=0,usecols=['Id','MSSubClass','MSZoning'])   #只读其中几列
house_prices_trian.head()

    MSSubClass MSZoning
Id
1           60       RL
2           20       RL
3           60       RL
4           70       RL
5           60       RL

In [26]:
house_prices_trian=pd.read_csv('C:/Users/plj/Desktop/Untitled Folder/train.csv',usecols=['Id','MSSubClass','MSZoning'],dtype={'Id':np.int})   
house_prices_trian.dtypes

Id             int32
MSSubClass     int64
MSZoning      object
dtype: object